.App {
  max-width: 1024px;
  margin: auto;
  padding: 60px 0;
}

.Heading {
  text-align: center;
}

.Paragraph {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.GithubLogo {
  display: flex;
  justify-content: center;
}

.GithubLogo img {
  width: 250px;
}

@media (max-width: 1280px) {
  .App {
    padding: 60px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 40px;
  }
  .Heading {
    margin: 10px 0;
    font-size: 26px;
  }
  .Paragraph {
    margin: 0 0 20px;
    font-size: 16px;
    text-align: start;
  }
  .GithubLogo img {
    width: 150px;
  }
}

@media (max-width: 425px) {
  .App {
    padding: 30px 16px;
  }
  .Heading {
    margin: 10px 0;
    font-size: 22px;
  }
  .Paragraph {
    margin: 0 0 20px;
    font-size: 16px;
    text-align: justify;
  }
  .GithubLogo img {
    width: 100px;
  }
}